@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font: 62.5% 'Mulish', sans-serif;
    background-color: #e2dff2;
}

.container {
    width: 500px;
    max-width: 100%;
    display: flex;
    box-shadow: 20px 3px 20px #9aa3ad;
}

.p-4 {
    margin: 0 10px;
    font-size: 2em;
}

#logo {
    font-size: 30px;
    color: #ffffff;
}

.left-side {
    background-color: #1E1E64;
    padding: 2rem;
    border-radius: 10px 0 0 10px;
    min-width: 50%;
}


.lead-text {
    font-size: 0.9rem;
    margin-top: 50px;
    color: #ffffff;
}

p {
    color: #ffff;
}

.small-text {
    padding-top: 30px;
    font-size: 0.7rem;
}

.right-side {
    padding: 4rem;
    background-color: #f6f5fc;
    position: relative;
    border-radius: 0 10px 10px 0;
    max-width: 100%;
}

.heading {
    color: #1E1E64;
    font-size: 1.2rem;
    font-weight: 700;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    width: 250px;
    padding: 20px 0;
    margin: 5px;
    box-shadow: -6px 5px 20px 0px #c0c5ca;
}

.card-text {
    font-size: 0.8rem;
}

.desc {
    color: #1E1E64;
    margin: 10px;
    padding-bottom: 10px;
    font-size: 0.65rem;
}

.footer {
    color: #1E1E64;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.blue {
    color: blue;
}

@media (max-width: 992px) {
    .left-side {
        display: none;
    }

    .container {
        width: 380px;
    }

    .right-side {
        padding: 1rem;
        min-width: 100%;
}