@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --clr-primary: #f70058;
    --clr-dark: #030e36;
    --clr-light: #fff;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-dark: 900;
    --grid: minmax(1em, 10%) 
            min-content 
            minmax(20rem, 45ch) 
            1fr 
            minmax(1em, 3fr);
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-dark);
    line-height: 1.6;
}

h1, h2, h3 {
    line-height: 1;
}


.btn {
    padding: .5em 1.25em;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: var(--fw-bold);
    margin-bottom: .5em;
}

.btn + .btn {
    margin-left: 1em;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

.btn-outline {
    outline: 3px solid var(--clr-primary);
    outline-offset: -3px;
    color: var(--clr-primary);
}

.btn-outline:hover {
    background: var(--clr-dark);
    color: var(--clr-light);
    outline-color: var(--clr-dark);
}

.btn-primary:hover {
    background-color: var(--clr-dark);
}

header {
    background-color: var(--clr-light);
    text-align: center;
}

@media (min-width: 700px) {
    header {
        display: grid;
        grid-template-columns: var(--grid);
    }

    .weather {
        grid-column: -2 / -1;
        justify-self: end;
    }

    .logo {
        grid-column: 2;
    }

    .nav {
        grid-column: 2 / 4;
    }

    .logo, .nav, .weather {
        grid-row: 1;
    }
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1em;
    list-style: none;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    /* margin-top: 1em; */
}

.logo {
    margin-top: 1em;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.weather {
    display: grid;
    grid-template-columns: min-content 1fr;
    background: var(--clr-dark);
    color: var(--clr-light);
}

.weather-icon {
    grid-row: span 2;
    background-color: var(--clr-primary);
    padding: 1em;
    display: flex;
}

.weather-info {
    margin: 0;
    text-align: left;
    margin-left: .75rem;
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .75rem;
    font-weight: var(--fw-bold);
    display: flex;
    align-items: center;
}

.weather-info span {
    color: var(--clr-light);
    margin-left: auto;
    margin-right: .75rem;
    font-size: 1rem;
    text-transform: none;
}

.weather-info:first-of-type {
    margin-top: .5rem;
    margin-bottom: .5rem;
    position: relative;
}

.weather-info:first-of-type::after {
    content: '';
    position: absolute;
    background-color: var(--clr-light);
    opacity: .25;
    height: 2px;
    width: calc(100% - .75rem);
    bottom: -.25rem;
}

.weather-info:last-of-type {
    margin-bottom: .5rem;
}

.main {
    padding: 3em 1em;
}

@media (min-width: 500px) {
    .main {
        display: grid;
        justify-items: start;
        grid-template-columns: minmax(1em, 10%)  minmax(20rem, 45ch) minmax(1em, 3fr);
        padding-left: 0;
        padding-right: 0;
    }

    .main > * {
        grid-column: 2/4;
    }

    .main-ski {
        background-position: left bottom;
    }
}

@media (min-width: 1200px) {
    .main-ski {
        background-position: center right;
    }
}

.main-title {
    line-height: 1;
    font-weight: var(--fw-dark);
    font-size: 3rem;
    margin-bottom: 0;
}

.main-info {
    margin-bottom: 2em;
}

.main-ski {
    background-image: url(./images/sebastian-staines-xZIFEPtRsRI-unsplash\ 1.jpg);
    background-size: cover;
}