/* Center everything on the page */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f4f0;
  font: 62.5% 'IBM Plex Sans', sans-serif;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: auto;
  background-color: #ffff;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

.card-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

input[type='radio'] {
  margin: 20px 5px;
  transform: scale(2);
}

label {
  font-size: 1.225rem;
  padding: 10px 10px;
}

button {
  margin-top: 35px;
  border: 0;
  border-radius: 10px;
  width: 176px;
  height: 56px;
  cursor: pointer;
  font-size: 1rem;
}

.cancel {
  background-color: #f5f4f0;
  margin-right: 10px;
}

.save {
  background-color: #edab30;
}

/* Media Queries */

@media only screen and (max-device-width: 768px) {
  button {
    width: 8rem;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  button {
    width: 10rem;
  }

  label {
    padding: 8px 8px;
  }

  .items {
    padding: 2rem;
  }
}
