@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
    font: 62.5% 'Mulish', sans-serif;
    background-color: #fff2f6;
}

.card {
    background-color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 14px rgb(212 199 199 / 50%);
}

input[type='text'] {
    width: 100%;
    padding: 15px;
    border: 2px solid #f0e9eb;
    border-radius: 5px;
    margin-top: 1rem;
}

.col-2 {
    display: flex;
}

select {
    width: 100%;
    margin: 1rem 0;
    padding: 15px;
    border: 2px solid #f0e9eb;
    border-radius: 5px;
}

#category {
    margin-right: 10px;
}

#tags {
    margin-left: 10px;
}

textarea {
    width: 100%;
    border: 2px solid #f0e9eb;
    border-radius: 5px;
    padding: 15px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 100%;
    height: 45px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.create-topic {
    background-color: #ec3168;
    margin-right: 5px;
    color: white;
}

.cancel {
    margin-left: 5px;
    background-color: #eff4fd;
}