@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font: 62.5% 'Mulish', sans-serif;
    background-color: #2b66cc;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.header {
    background-color: #037af7;
    color: #ffffff;
    padding: 1rem 2rem;
    display: flex;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.header-text {
    font-size: 1.2rem;
}

.close {
    position: absolute;
    right: 0;
    margin: 0 20px;
    font-size: 2rem;
    color: #70b3fa;
}

.body {
    background-color: #ffffff;
    padding: 2rem;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 12px 20px 0px #2e579c;
}

.file-size {
    position: absolute;
    right: 0;
    margin: 0 30px
}

.file-desc {
    display: flex;
    flex-direction: column;
}

progress {
    min-width: 100%;
    padding: 13px;
}

progress::-webkit-progress-bar {
    border: none;
}


.file-upload {
    font-size: 0.775rem;
}

.file-pause {
    color: blue;
}

.file-upload-box {
    border: 2px dashed #d4d5de;
    width: 100%;
    height: 10rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-text {
    font-size: 1rem;
    font-weight: bold;
}

.fa {
    font-size: 5rem;
    color: #00a6f9;
}

.blue {
    color: #00a6f9;
}

.upload-button {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 2.775rem;
    background-color: #00a6f9;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 3px 6px 0px #00a6f9;
}