@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
.btn {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+0,ec7d56+0,fd870a+100&0.92+57,1+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(236, 125, 86, 0.92) 0%, rgba(246, 131, 43, 0.92) 57%, #fd870a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebec7d56', endColorstr='#fd870a',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: white;
}

button {
  border: none;
  padding: 1rem;
  font-weight: bold;
  font-family: "Montserrat";
  cursor: pointer;
}

body, html {
  background-color: #f5f5f5;
  height: 100%;
}

body {
  font-family: 'Montserrat';
  overflow-x: hidden;
}

header {
  margin: 0;
}

@media (min-width: 840px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .navbar-brand {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: #a43b00;
  font-weight: bold;
  text-transform: uppercase;
}

header nav ul {
  list-style-type: none;
  display: none;
  margin: 0;
}

@media (min-width: 840px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

header nav ul li a {
  color: #832c10;
  text-decoration: none;
  display: block;
  margin: 3.6rem;
  font-size: 2rem;
  font-weight: bold;
}

@media (min-width: 840px) {
  header nav ul li a {
    margin: 10px 0 0 2rem;
    font-size: 1rem;
  }
}

header nav ul li a.btn {
  padding: .775rem;
  margin-top: auto;
}

header img {
  position: absolute;
  right: 10px;
  top: 2px;
  margin: 10px auto;
  cursor: pointer;
}

@media (min-width: 840px) {
  header img {
    display: none;
  }
}

section {
  padding: 10px;
}

section.carousel {
  overflow: hidden;
  margin: 3rem auto 0 0;
}

section.carousel img {
  max-width: 200px;
  position: absolute;
  right: -80px;
  top: 230px;
}

@media (min-width: 840px) {
  section.carousel img {
    max-width: 400px;
    right: -110px;
    top: 90px;
  }
}

section.carousel .intro h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

section.carousel .intro p {
  line-height: 1.5em;
}

section.carousel .intro .shop-now {
  padding: calc(1rem + 2px);
  margin-right: 10px;
}

section.carousel .intro .learn-more {
  border: 2px solid #e55a2e;
  background: none;
}

section.showcase {
  margin-top: 6rem;
}

@media (min-width: 840px) {
  section.showcase {
    margin-top: 9rem;
  }
}

section.showcase .title {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

section.showcase .product-card {
  background-color: #f6ebdd;
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.showcase .product-card .product-desc {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

section.showcase .product-card .product-desc p {
  font-size: .975rem;
  line-height: 1.4rem;
}

section.showcase .product-card .product-desc button {
  margin-top: 10px;
  width: 60%;
}

section.showcase .product-card .product-img {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 50%;
}

section.showcase .product-card .product-img img {
  width: 150px;
}

@media (min-width: 840px) {
  section.showcase .product-card .product-img img {
    width: 390px;
    margin-bottom: 10px;
  }
}

section.showcase .product-card .product-img .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.showcase .product-card .product-img .colors img {
  width: 40px;
  margin: auto 10px;
}

@media (min-width: 840px) {
  section.showcase .product-card .product-img .colors img {
    width: 70px;
    margin: auto 10px;
  }
}

section.contact h1, section.contact p {
  text-align: center;
}

section.contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

@media (min-width: 840px) {
  section.contact .contact-form {
    width: 60%;
    margin: auto;
  }
}

section.contact .contact-form input, section.contact .contact-form textarea {
  background: #eb7e5b;
  border: none;
  margin: 1rem 0 1rem 0;
  font-family: "Montserrat";
  color: white;
}

section.contact .contact-form input, section.contact .contact-form textarea {
  padding: .75rem;
}

@media (min-width: 840px) {
  section.contact .contact-form button {
    width: 400px;
    margin: 10px auto;
  }
}

.active {
  display: block;
  background: #e8e8e8;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% + 51em);
  padding: 1em;
}
/*# sourceMappingURL=style.css.map */